@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	@apply bg-gray-100;
}

.banner-1 {
	background-image: url('./src/assets/img/banner-1.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
